<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSuccessful_jsp</servlet-name>
        <servlet-class>LoginSuccessful_jsp.LoginSuccessful_jsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondPage</servlet-name>
        <servlet-class>SecondPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudent</servlet-name>
        <servlet-class>GetStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temporary</servlet-name>
        <servlet-class>Temporary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdServlet</servlet-name>
        <servlet-class>ThirdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAssignServlet</servlet-name>
        <servlet-class>AjaxAssignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignCreate</servlet-name>
        <servlet-class>AssignCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfo</servlet-name>
        <servlet-class>UpdateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMarks</servlet-name>
        <servlet-class>SetMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStudentRecordDisplay</servlet-name>
        <servlet-class>NewStudentRecordDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMarksOfStudent</servlet-name>
        <servlet-class>SetMarksOfStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupTable</servlet-name>
        <servlet-class>com.pict.dao.GroupTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectTable</servlet-name>
        <servlet-class>com.pict.dao.SubjectTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTable</servlet-name>
        <servlet-class>com.pict.dao.LoginTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectAllotment</servlet-name>
        <servlet-class>com.pict.dao.SubjectAllotment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectCord</servlet-name>
        <servlet-class>com.pict.dao.SubjectCord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSuccessful_jsp</servlet-name>
        <url-pattern>/LoginSuccessful_jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondPage</servlet-name>
        <url-pattern>/SecondPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudent</servlet-name>
        <url-pattern>/GetStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temporary</servlet-name>
        <url-pattern>/Temporary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdServlet</servlet-name>
        <url-pattern>/ThirdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAssignServlet</servlet-name>
        <url-pattern>/AjaxAssignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignCreate</servlet-name>
        <url-pattern>/AssignCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfo</servlet-name>
        <url-pattern>/UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMarks</servlet-name>
        <url-pattern>/SetMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStudentRecordDisplay</servlet-name>
        <url-pattern>/NewStudentRecordDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMarksOfStudent</servlet-name>
        <url-pattern>/SetMarksOfStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupTable</servlet-name>
        <url-pattern>/GroupTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectTable</servlet-name>
        <url-pattern>/SubjectTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTable</servlet-name>
        <url-pattern>/LoginTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectAllotment</servlet-name>
        <url-pattern>/SubjectAllotment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectCord</servlet-name>
        <url-pattern>/SubjectCord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
